<?xml version="1.0" encoding="utf-8"?>
<!--
このファイルは、Web プロジェクトの発行/パッケージ処理で使用されます。この MSBuild ファイルを編集することによって、
この処理の動作をカスタマイズできます。詳細については、http://go.microsoft.com/fwlink/?LinkID=208121 を参照してください。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://spajammadobenwebapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>spajammadobenwebapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SpajamMadobenWebAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SpajamMadobenWebAPI</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SpajamMadobenDBEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SpajamMadobenWebAPI.Models.SpajamMadobenDBEntities, SpajamMadobenWebAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SpajamMadobenWebAPI_dbEntities1" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=wyhbvstpgx.database.windows.net;Initial Catalog=SpajamMadobenWebAPI_db;Persist Security Info=True;User ID=SpajamMadobenAdmin;Password=DBP@ssw0rd;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SpajamMadobenWebAPI_dbEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.EntityDataModel.csdl|res://*/Models.EntityDataModel.ssdl|res://*/Models.EntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=wyhbvstpgx.database.windows.net;initial catalog=SpajamMadobenWebAPI_db;persist security info=True;user id=SpajamMadobenAdmin;password=DBP@ssw0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SpajamMadobenWebAPI_dbEntities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=wyhbvstpgx.database.windows.net;Initial Catalog=SpajamMadobenWebAPI_db;Persist Security Info=True;User ID=SpajamMadobenAdmin;Password=DBP@ssw0rd;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SpajamMadobenWebAPI_dbEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.SpajamMadobenWebAPI_dbModel.csdl|res://*/Models.SpajamMadobenWebAPI_dbModel.ssdl|res://*/Models.SpajamMadobenWebAPI_dbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=wyhbvstpgx.database.windows.net;initial catalog=SpajamMadobenWebAPI_db;persist security info=True;user id=SpajamMadobenAdmin;password=DBP@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SpajamMadobenDBEntities-Web.config Connection String" />
  </ItemGroup>
</Project>