Debug/
Release/
x86/
x64/
TestResults/
NDependOut/
packages/
bin/
obj/
backup/
*/Settings.StyleCop
*.suo
*.user
*.tmp_proj
*.bak
*.orig
*.org
*.rej
*.tmp
*.vspx
*.dgml
StyleCop.Cache
UpgradeLog*.htm
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
_*.*
*_.*
*._*
*.*_
secret.config
