@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <style type="text/css">
        <!--
        body  { background-image : url('http://spajamhonsenstorage.blob.core.windows.net/images/bg.PNG'); }
        -->
    </style>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript">
        var exp1 = 0;
        var exp2 = 0;
        var exp3 = 0;
        var exp4 = 0;
        var exp5 = 0;
        var exp1s = "";
        var exp2s = "";
        var exp3s = "";
        var exp4s = "";
        var exp5s = "";
        var title = "";
        $(window).load(function () {
            var lan = get_url_vars("lan");
            if (lan == "ja") {
                exp1s = "無表情";
                exp2s = "喜ぶ";
                exp3s = "驚き";
                exp4s = "怒り";
                exp5s = "悲しみ";
                title = "表情情報一覧";
            } else if (lan == "cn") {
                exp1s = "普通";
                exp2s = "高兴";
                exp3s = "惊讶";
                exp4s = "愤怒";
                exp5s = "悲伤";
                title = "表情情报一览表";
            } else if (lan == "en") {
                exp1s = "Normal";
                exp2s = "Happy";
                exp3s = "Suprise";
                exp4s = "Angry";
                exp5s = "Sad";
                title = "View of faces";
            } else {
                exp1s = "無表情";
                exp2s = "喜ぶ";
                exp3s = "驚き";
                exp4s = "怒り";
                exp5s = "悲しみ";
                title = "表情情報一覧";
            }
            $.ajax({
                url: "http://spajamhonsen.azurewebsites.net/Api/TweetDetail/test?lan=" + lan,
                cache: false,
                async: false,
                success: function (xml) {
                    var show = "";

                    xml.forEach(function (value) {
                        show += "<img src=http://spajamhonsenstorage.blob.core.windows.net/faceicons/" + value.IconURL + " width='48' height='48'>" + value.IconDisp;
                        show += "<div style='width: 300px' >" + value.TweetText + "</div><br/>";
                    });

                    $("#content").html(show);
                }
            });
            $.ajax({
                url: "http://spajamhonsen.azurewebsites.net/Api/TweetSummy/test",
                cache: false,
                async: false,
                success: function (xml) {
                    exp1 = xml.Express1;
                    exp2 = xml.Express2;
                    exp3 = xml.Express3;
                    exp4 = xml.Express4;
                    exp5 = xml.Express5;
                }
            });
        });

        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {

            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                [exp1s, exp1],
                [exp2s, exp2],
                [exp3s, exp3],
                [exp4s, exp4],
                [exp5s, exp5]
            ]);

            var options = {
                title: title
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }

        function get_url_vars(res) {
            var vars = new Object, params;
            var temp_params = window.location.search.substring(1).split('&');
            for (var i = 0; i < temp_params.length; i++) {
                params = temp_params[i].split('=');
                if (params[0] == res) {
                    return params[1];
                }
            }
            if (res == "lan") {
                return "jp";
            } else {
                return "1";
            }
        }
    </script>
    <title></title>
</head>
<body>
    <div>
        <div id="piechart" style="width: 365px; height: 360px;"></div>
        <div id="content"></div>
    </div>
</body>
</html>
