
<div class="row" id="rowArea">
kjfdlajfojasdlfjadsojfol
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
   
$(document).ready(function(){
	$.getJSON("http://spajammadobenwebapi.azurewebsites.net/api/Voices", function(json){
  		alert("JSON Data: " + json);
	});
});

</script>
