
<div class="row" id="rowArea">
<ul id="show">

</ul>
</div>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript">
   
$(document).ready(function(){
	var show = "";
	$.getJSON("http://spajammadobenwebapi.azurewebsites.net/api/Voices", function(json){
  		json.each(function(){
  			show += "<li>" + $(this).Voice.VoiceAnalysisResult + "</li>";
  		});
	});
	$("#show").html(show);
});

</script>

