
<div class="row" id="rowArea">
kjfdlajfojasdlfjadsojfol
</div>

<script type="text/javascript" src="./jquery-1.11.3.min.js"></script>
<script type="text/javascript">

$(document).ready(function(){
	$("#rowArea").html("kkkkkk");
	alert(1);
});

alert(2);
</script>
