<appSettings>
  <add key="GoogleSpeechAPIKey" value="AIzaSyCZCE06N3ydRifYUkAZqLJpZeYeK5uOrTs"/>
  <add key="CloudStorageAccount" value="DefaultEndpointsProtocol=https;AccountName=spajammadobenstrage;AccountKey=SuK4WCv3WjsRT/x1bU5V7LJj3tcXjF8g3nrrjJS+Lu45W6IhZbELAKZV0zyA1C1T1Julj3zdHd7axNjgMi8PKg=="/>
  <add key="SpajamMadobenDBConnectionString" value="metadata=res://*/Models.SpajamMadobenDBModel.csdl|res://*/Models.SpajamMadobenDBModel.ssdl|res://*/Models.SpajamMadobenDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mhovrvzj98.database.windows.net;initial catalog=SpajamMadobenDB;persist security info=True;user id=SpajamMadobenAdmin;password=DBP@ssw0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;"/>
</appSettings>