<?xml version="1.0" encoding="utf-8"?>
<!--
このファイルは、Web プロジェクトの発行/パッケージ処理で使用されます。この MSBuild ファイルを編集することによって、
この処理の動作をカスタマイズできます。詳細については、http://go.microsoft.com/fwlink/?LinkID=208121 を参照してください。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://spajamapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>spajamapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SpajamAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SpajamAPI</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=mhovrvzj98.database.windows.net;Initial Catalog=SpajamMadobenDB;Persist Security Info=True;User ID=SpajamMadobenAdmin;Password=DBP@ssw0rd;Application Name=EntityFramework" Name="Data Source=mhovrvzj98.database.windows.net;Initial Catalog=SpajamMadobenDB;Persist Security Info=True;User ID=SpajamMadobenAdmin;Password=DBP@ssw0rd;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SpajamAPI.Models.ApplicationDbContext, SpajamAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SpajamMadobenDBEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=mhovrvzj98.database.windows.net;Initial Catalog=SpajamMadobenDB;Persist Security Info=True;User ID=SpajamMadobenAdmin;Password=DBP@ssw0rd;Application Name=EntityFramework" Name="Data Source=mhovrvzj98.database.windows.net;Initial Catalog=SpajamMadobenDB;Persist Security Info=True;User ID=SpajamMadobenAdmin;Password=DBP@ssw0rd;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SpajamAPI.Models.SpajamMadobenDBEntities, SpajamAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=mhovrvzj98.database.windows.net;Initial Catalog=SpajamMadobenDB;Persist Security Info=True;User ID=SpajamMadobenAdmin;Password=DBP@ssw0rd;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SpajamMadobenDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.DBModel.csdl|res://*/Models.DBModel.ssdl|res://*/Models.DBModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=mhovrvzj98.database.windows.net;Initial Catalog=SpajamMadobenDB;Persist Security Info=True;User ID=SpajamMadobenAdmin;Password=DBP@ssw0rd;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>